<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col col-md-6">
        <h5 class="card-title">
          {{ '::Menu:Incident' | abpLocalization }}
        </h5>
      </div>
      <div class="text-right col col-md-6">
        <div class="text-lg-right pt-2">
          <button id="create" class="btn btn-primary" type="button" (click)="createIncident()">
            <i class="fa fa-plus mr-1"></i>
            <span>{{ '::NewIncident' | abpLocalization }}</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <ngx-datatable
      data-testid="incident-table"
      [rows]="incident.items"
      [count]="incident.totalCount"
      [list]="list"
      default
    >
      <ngx-datatable-column
        [name]="'::Actions' | abpLocalization"
        [maxWidth]="150"
        [sortable]="false"
      >
        <ng-template let-row="row" ngx-datatable-cell-template>
          <div ngbDropdown container="body" class="d-inline-block">
            <button
              class="btn btn-primary btn-sm dropdown-toggle"
              data-toggle="dropdown"
              aria-haspopup="true"
              ngbDropdownToggle
            >
              <i class="fa fa-cog mr-1"></i>{{ '::Actions' | abpLocalization }}
            </button>
            <div ngbDropdownMenu>
              <button ngbDropdownItem (click)="reviewIncident(row.id, row.incidentNo)">
                {{ '::Review' | abpLocalization }}
              </button>
              <button ngbDropdownItem (click)="editIncident(row.id)">
                {{ '::Edit' | abpLocalization }}
              </button>
              <button ngbDropdownItem (click)="delete(row.id)">
                {{ '::Delete' | abpLocalization }}
              </button>
            </div>
          </div>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [name]="'::IncidentNo' | abpLocalization" prop="incidentNo"></ngx-datatable-column>
      <ngx-datatable-column [name]="'::Status' | abpLocalization" prop="status"></ngx-datatable-column>
      <ngx-datatable-column [name]="'::ReportTo' | abpLocalization" prop="reportTo"></ngx-datatable-column>
      <ngx-datatable-column [name]="'::OccurenceDate' | abpLocalization">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row.occurenceDate | date }}
        </ng-template>
      </ngx-datatable-column>
      
    </ngx-datatable>
  </div>
</div>

<abp-modal [(visible)]="isModalOpen">
  <ng-template #abpHeader>
    <h3>{{ (selectedIncident.id ? '::Edit' : '::NewIncident') | abpLocalization }}</h3>
  </ng-template>

  <ng-template #abpBody>
    <form id="incident-form" [formGroup]="form" (ngSubmit)="save()">
      <div class="form-group">
        <label for="incidentNo">{{ '::IncidentNo' | abpLocalization }}</label><span> * </span>
        <input type="text" id="incidentNo" class="form-control" formControlName="incidentNo" readonly autofocus />
      </div>
      <div class="form-group">
        <label for="incidentDescr">{{ '::IncidentDescr' | abpLocalization }}</label><span> * </span>
        <input type="text" id="incidentDescr" class="form-control" formControlName="incidentDescr"/>
      </div>
      <div class="form-group">
        <label for="incidentType">{{ '::IncidentType' | abpLocalization }}</label>
        <select class="form-control" formControlName="incidentType">
          <option [ngValue]="null">Select Type</option>
          <option [ngValue]="1">1</option>
          <option [ngValue]="2">2</option>
        </select>
      </div>
      <div class="form-group">
        <label for="occurenceDate">{{ '::OccurenceDate' | abpLocalization }}</label>
        <input
          id="occurenceDate"
          ngbDatepicker
          #datepicker="ngbDatepicker"
          formControlName="occurenceDate"
          class="form-control"
          (click)="datepicker.toggle()"
        />
      </div>
      <div class="form-group">
        <label for="reportTo">{{ '::ReportTo' | abpLocalization }}</label>
        <input type="text" id="reportTo" class="form-control" formControlName="reportTo"/>
      </div>
    </form>
  </ng-template>

  <ng-template #abpFooter>
    <button type="button" class="btn btn-secondary" #abpClose>
      {{ '::Cancel' | abpLocalization }}
    </button>

    <button form="incident-form" class="btn btn-primary" [disabled]="form.invalid || form.pristine">
      <i class="fa fa-check mr-1"></i>
      {{ '::Save' | abpLocalization }}
    </button>
  </ng-template>
</abp-modal>

<abp-modal [(visible)]="isReviewModalOpen">
  <ng-template #abpHeader>
    <h3>
      {{ '::Incident:Review' | abpLocalization }} :: {{selectIncidentNo}}
      <!-- {{ (selectedReviewDetail.id ? '::Edit' : '::NewIncident') | abpLocalization }} -->
    </h3>
  </ng-template>

  <ng-template #abpBody>
    <form id="review-form" [formGroup]="formReview" (ngSubmit)="saveReview()">
      <div class="form-group">
        <label for="comments">{{ '::IncidentValidity' | abpLocalization }}</label>
        <input type="checkbox" id="isIncidentValid" class="form-control" formControlName="isIncidentValid"/>
      </div>
      <div class="form-group">
        <label for="comments">{{ '::ReviewerComments' | abpLocalization }}</label><span> * </span>
        <input type="text" id="comments" class="form-control" formControlName="comments"/>
      </div>
      <div class="form-group">
        <label for="incidentStatus">{{ '::Status' | abpLocalization }}</label>
        <select class="form-control" formControlName="incidentStatus">
          <option [ngValue]="'Pending'">Pending</option>
          <option [ngValue]="'InProgress'">InProgress</option>
          <option [ngValue]="'Done'">Done</option>
        </select>
      </div>
      <div class="form-group">
        <label for="endDate">{{ '::IncidentEndOn' | abpLocalization }}</label>
        <input
          id="endDate"
          ngbDatepicker
          #datepicker="ngbDatepicker"
          formControlName="endDate"
          class="form-control"
          (click)="datepicker.toggle()"
        />
      </div>
    </form>
  </ng-template>

  <ng-template #abpFooter>
    <button type="button" class="btn btn-secondary" #abpClose>
      {{ '::Cancel' | abpLocalization }}
    </button>

    <button form="review-form" class="btn btn-primary" [disabled]="formReview.invalid || formReview.pristine">
      <i class="fa fa-check mr-1"></i>
      {{ '::Save' | abpLocalization }}
    </button>
  </ng-template>
</abp-modal>